@font-face {
  font-display: swap;
  font-family: 'Body Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-mono.ttf') format('truetype'),
}

@font-face {
  font-display: swap;
  font-family: 'Display Mono';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/space-mono.ttf') format('truetype');
}
